* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav,
.main-search {
  background-color: #d4564a;
}

.jumbotron {
  height: 90vh;
  background-image: url("./assets/images/main-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25vh 0;
  background-position: 50% 50%;
}

.details-title {
  font-weight: 300;
}

.language {
  width: 85vw;
  max-width: 1170px;
}

.language p {
  font-size: small;
  text-transform: uppercase;
}

.filter-jumbotron,
.btn-explore {
  background-color: rgb(224, 221, 221);
}

.search {
  background-color: rgba(236, 228, 228, 0.8);
}

.search-label,
.form-group label {
  font-size: small;
  font-weight: bold;
}

.card-img-top,
.card-body {
  min-height: 35vh;
  max-height: 35vh;
}

.card-body {
  min-height: 40vh;
  max-height: 40vh;
}

.orangered {
  color: #d4564a;
}

.ligt-black {
  background-color: #131313;
}

.flex-1 {
  flex: 1;
}

.font-size1 {
  font-size: 1em;
}

.font-size2 {
  font-size: 1.5em;
}

.small-font {
  font-size: small;
}

.footer-logo {
  width: 3em;
  height: 3em;
}

.nav-logo {
  width: 10em;
  height: 3em;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 30vw;
  }

  .jumbotron {
    height: 50vh;
    padding: 3vh 0;
  }
}

@media screen and (min-width: 992px) {
  .jumbotron {
    height: 65vh;
    padding: 10vh 0;
  }

  .btn-search {
    background-color: #d4564a;
    border: none;
  }

  .btn-search:hover {
    background-color: #d4564a;
    border: none;
  }

  .language {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }
}
