* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  background-color: red;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 30vw;
  }
}

@media screen and (min-width: 992px) {
    
  }


